body{
    background-color: black;
}

.centrado{
    color: blueviolet;
    text-align: center;
    font-size: 35px;
    
}

.sub{
    color: aqua;
    font-size: 30px;
}

.container{
    width: 70%;
    margin: auto;
    padding: 20px;
    
}

#cabecera{
    color: #fff;
    font-size: 35px;
    background-color: #2631ff;
    padding: 15px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}